input[type=button] {
    border: 1px solid #9bb2f1d7;
    color: #fff;
    background: rgb(127, 174, 185);
    padding: 10px 20px;
    border-radius: 3px;
}
input[type=button]:hover {
    background: #9bb2f1d7;
}
input[type=id_input] {
    border: 1px solid #9bb2f1d7;
    color: black;
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 3px;
}
input[type=id_input]:hover {
    background: #9bb2f1d7;
}
select[id=type] {
    border: 1px solid #9bb2f1d7;
    color: black;
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 3px;
}
select[id=type]:hover {
    background: #9bb2f1d7;
}